<%= form_tag("/events", method: "get", class: "form-inline") do %>

  <%= text_field_tag(:city, "City") %>
  <%= submit_tag("Search Events", class: "btn btn-success") %>
<% end %>



<h3>Games Today...</h3>

<% if @events and !@events.empty? %>
  <div class="row">
  <% @events.each do |event| %>

    <div class="well span6 offset3">

    Title: <strong><%= event['title'] %></strong><br/>
    time: <%= DateTime.iso8601(event['datetime_local']).strftime("%I:%M %p") %><br/>
    <a href="<%= event['url'] %>">tickets</a><br/>
    coordinates: <%= event['venue']['location'] %><br/>
    venue: <%= event['venue']['name'] %><br/>
    <br/>

    </div>
  <% end %>
  </div>


  <% if Rails.env.development? %>
    <h5>Debug Info</h5>
    <pre>
      <%= @query.query %>
      <%= @query.attributes %>
      <%= PP.pp(@events, "") %>
    </pre>
  <% end %>

<% elsif !@events.nil? %>
  <p>Sorry, no games today<p>

<% end %>
