<% if @events and !@events.empty? %>
  <div class="row">
  <% @events.each do |event| %>

    <div class="well span6 offset3">

      <div class="title">
        <strong><%= event['title'] %></strong>
      </div>

      <div class="time">
        <%= DateTime.iso8601(event['datetime_local']).strftime("%I:%M %p") %>
      </div>

      <div class="tickets">
        <a href="<%= event['url'] %>">tickets</a>
      </div>

      <div class="coordinates">
        <%= event['venue']['location'] %>
      </div>

      <div class="venue">
        <%= event['venue']['name'] %>
      </div>

    </div>
  <% end %>
  </div>


<% elsif !@events.nil? %>
  <p>Sorry, no games today<p>

<% end %>


<% if Rails.env.development? %>
  <h5>Debug Info</h5>
  <pre>
    <%= @query.query if @query %>
    <%= @query.attributes if @query%>
    <%= PP.pp(@events, "") if @events%>
  </pre>
<% end %>
