<h1>Games Today...</h1>

<%= form_tag("/events", method: "get", class: "form-inline") do %>

  <%= text_field_tag(:city, "City") %>
  <%= submit_tag("Search Events", class: "btn") %>
<% end %>


<% if !@events.nil? %>
  <% @events.each do |event| %>
    <%= event['datetime_local'] %><br/>
    <%= event['title'] %><br/>
    <%= event['url'] %><br/>
    <%= event['venue']['location'] %><br/>
    <br/>
  <% end %>


  <% if Rails.env.development? %>
    <pre>
      <%= @query.query %>
      <%= @query.attributes %>
      <%= PP.pp(@events, "") %>
    </pre>
  <% end %>

<% else %>
  <p>Sorry, no games today<p>

<% end %>
